/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
   background-image: url(https://i.imgur.com/FNeVQjE.png);
}
​
.ds4.white.disconnected {
   background: url(https://i.imgur.com/OxSBDLo.png);
}
​
.ds4.white .trigger {
   background-image: url(https://i.imgur.com/dC3G2GG.png);
}
​
.ds4.white .bumper {
   background-image: url(https://i.imgur.com/ymzHo08.png);
}
​
/*
.ds4.white .touchpad.pressed {
   background-image: url(ps4-white-assets/touchpad.svgz);
}
*/
​
.ds4.white .back, .ds4 .start {
   background-image: url(https://i.imgur.com/Ht4iV4T.png);
}
​
.ds4.white .button {
   background-image: url(https://i.imgur.com/sdXR3H5.png);
}
​
.ds4.white .stick {
   background-image: url(https://i.imgur.com/B6o5Yns.png);
}
​
.ds4.white .face {
   background-image: url(https://i.imgur.com/2CjdYzw.png);
}
​
/*END PS4 White Controller Styling*/
​